# ðŸ“˜ Assignment Demo in Jupyter Notebook
This notebook demonstrates how to handle a CSV file, display an image, open a YouTube link, download and play YouTube Video in VLC Media Player.

## âœ… 1. Load and Manipulate CSV Data

In [17]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("sample_data.csv")
df.head(10)


# Show 10 rows and 10 columns
# df.iloc[:10, :10]

       Name  Age Gender  Salary
0     Rohan   20      M  100000
1   Binayak   30      M   60000
2   Chaplin   35      M   55000
3      Dash   40      M   70000
4   Erikson   22      M   48000
5     Frank   33      M   62000
6     Ginny   28      F  100000
7  Hamilton   36      M   68000
8     Lando   29      M   58000
9      Josh   41      M   72000

In [18]:
# Add new column
df["Department"] = ["Sales", "HR", "IT", "Finance", "Sales", "IT", "HR", "Sales", "Marketing", "Admin"]

# Add new row
df.loc[10] = ["John", 27, "M", 56000, "IT"]

# Show updated DataFrame
#df.tail()
df.head(10)

        Name  Age Gender  Salary Department
6      Ginny   28      F  100000         HR
7   Hamilton   36      M   68000      Sales
8      Lando   29      M   58000  Marketing
9       Josh   41      M   72000      Admin
10      John   27      M   56000         IT

In [6]:
# Show columns
df.columns

Index(['Name', 'Age', 'Gender', 'Salary'], dtype='object')

In [7]:
# Show data types
df.dtypes

Name      object
Age        int64
Gender    object
Salary     int64
dtype: object

In [8]:
# Show shape
df.shape

(10, 4)

In [9]:
# Show size
df.size

40

In [10]:
# Describe data
df.describe()

             Age         Salary
count  10.000000      10.000000
mean   31.400000   69300.000000
std     6.995236   17701.537912
min    20.000000   48000.000000
25%    28.250000   58500.000000
50%    31.500000   65000.000000
75%    35.750000   71500.000000
max    41.000000  100000.000000

In [ ]:
# Rename column 'Salary' to 'Monthly_Salary'
df.rename(columns={'Salary': 'Monthly_Salary'}, inplace=True)

In [ ]:
# Delete 'Gender' column
df.drop('Gender', axis=1, inplace=True)

In [ ]:
# Delete row at index 3
df.drop(3, axis=0, inplace=True)

In [ ]:
# Check for null values
df.isnull()

In [ ]:
# Count null values
df.isnull().sum()

## âœ… 2. Display an Image

In [2]:
from IPython.display import Image, display

# Display image from web URL
# display(Image(url="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2048px-React-icon.svg.png", width=300))
display(Image(url="https://i0.wp.com/cookwithnoorain.com/wp-content/uploads/2024/06/IMG_2487-scaled.jpg?w=1920&ssl=1", width=300))

## âœ… 3. Open YouTube Link from User Input

In [3]:
import webbrowser

link = input("Enter a YouTube video URL: ")
webbrowser.open(link)

Enter a YouTube video URL:  https://www.youtube.com/watch?v=sUf2PtEZris

True

## âœ… 4. Download and Play YouTube Video in VLC Media Player

In [6]:
!pip install pytube

Requirement already satisfied: pytube in c:\users\asus\anaconda3\lib\site-packages (15.0.0)

In [6]:
pip install yt-dlp --trusted-host files.pythonhosted.org --trusted-host pypi.org

Collecting yt-dlp
  Downloading yt_dlp-2025.7.21-py3-none-any.whl.metadata (175 kB)
Downloading yt_dlp-2025.7.21-py3-none-any.whl (3.3 MB)
   ---------------------------------------- 0.0/3.3 MB ? eta -:--:--
   --- ------------------------------------ 0.3/3.3 MB ? eta -:--:--
   ------ --------------------------------- 0.5/3.3 MB 1.4 MB/s eta 0:00:03
   ------------ --------------------------- 1.0/3.3 MB 2.1 MB/s eta 0:00:02
   ---------------------- ----------------- 1.8/3.3 MB 3.3 MB/s eta 0:00:01
   -------------------------------------- - 3.1/3.3 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------- 3.3/3.3 MB 3.3 MB/s eta 0:00:00
Installing collected packages: yt-dlp
Successfully installed yt-dlp-2025.7.21
Note: you may need to restart the kernel to use updated packages.

In [8]:
import yt_dlp
import subprocess

# Step 1: Get YouTube URL
url = input("Enter YouTube video URL: ")

# Step 2: Set download options
output_path = "videos/%(title)s.%(ext)s"
ydl_opts = {
    'format': 'bestvideo+bestaudio/best',
    'outtmpl': output_path
}

# Step 3: Download video
with yt_dlp.YoutubeDL(ydl_opts) as ydl:
    info_dict = ydl.extract_info(url, download=True)
    video_file = ydl.prepare_filename(info_dict)

print("âœ… Downloaded:", video_file)

# Step 4: Play in VLC
vlc_path = r"C:\Program Files (x86)\VideoLAN\VLC\vlc.exe"
subprocess.Popen([vlc_path, video_file])

Enter YouTube video URL:  https://www.youtube.com/watch?v=sUf2PtEZris

[youtube] Extracting URL: https://www.youtube.com/watch?v=sUf2PtEZris
[youtube] sUf2PtEZris: Downloading webpage
[youtube] sUf2PtEZris: Downloading tv client config
[youtube] sUf2PtEZris: Downloading tv player API JSON
[youtube] sUf2PtEZris: Downloading ios player API JSON
[youtube] sUf2PtEZris: Downloading m3u8 information
[info] sUf2PtEZris: Downloading 1 format(s): 401+251
[download] videos\Shaky ( Official #Video ) Sanju Rathod Ft. Isha Malviya ï½œ G-Spark ï½œ New #Marathi Songs 2025.webm has already been downloaded
âœ… Downloaded: videos\Shaky ( Official #Video ) Sanju Rathod Ft. Isha Malviya ï½œ G-Spark ï½œ New #Marathi Songs 2025.webm